# ── Server ───────────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ── Database (TiDB Cloud) ─────────────────────────────────
# Get these from the Backend Lead (Zwe Htet Aung)
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=
DB_PASSWORD=
DB_NAME=hotel_system

# ── Authentication ────────────────────────────────────────
# Any long random string — generate one at: https://generate-secret.vercel.app/32
JWT_SECRET=
